.announcement_container{
    background-color: var(--mint);
    margin: 0 auto;
    padding: 0 20px;
}

.container h2{
    margin-top: 20px;
    margin-bottom: 20px;
    color: var(--brown);
    font-size: 32px;
}

/* Cards */
.card-title{
    color: var(--green1);
    font-size: 16px;
}

.card-text{
    font-size: 16px;
}

.text-secondary{
    font-size: 16px;
}
.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

}
.card-body{
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
}

/* Modal Styling */
.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #dc3545; /* Bootstrap danger color */
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal-title{
    font-size: 16px;

}

.modal-footer {
    justify-content: center;
}


/* Button Styles */
.btn-danger {
    background-color: #dc3545;
    border: none;
    transition: background 0.2s;
}


.btn-danger:hover {
    background-color: #c82333;
}
