

.login{
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100vw; 
    height: 100vh;
}

.card_container{
    padding: 100px;
    width: 50%; /* Adjust this as needed */
    max-width: 600px; /* Prevents it from being too large on bigger screens */
    padding: 30px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); /* Soft shadow for a nice effect */
    
}

.card .custom-login-header{
    font-size: 30px;
    margin-top: -10px;  
    color: var(--brown);
    font-weight: bold;
    padding: 20px;

}

.card .custom-login-text{
    font-size: 16px;
    color: var(--green1);
}
