

.card-header{
    background-color: var(--green2);
    border : 5px solid var(--green2);
    border-radius: none;
}

.bg-custom {
    background-color: var(--green2) !important;
}

.card-header h4{
    color: var(--white);
    font-size: 25px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-header h4 span{
    color: var(--white);
    font-weight: bold;
}

.card-body{
    background-color: var(--white);
    border : 5px solid var(--green2);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.card-body img{
    width: 100%;
    height: 100%;
    border : 5px solid var(--green2);
    border-radius: 10px;
    padding: 10px;
    
}

.card-body p{
    font-size: 15px;
    color: var(--green1);
}

.card-body span{
    font-weight: bold;
    color: var(--green1);
}

.card-body li{
    font-size: 15px;
    color: var(--green1);
}

.custom-btn {
    display: inline-block;
    background: var(--gradient-green);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 24px;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    margin-top: 0;
    margin-bottom: 15px;

}

.custom-btn:hover {
    background: var(--brown);
    color: var(--white);
}

/* Card hover */
.card {
    transition: none !important; /* Removes all hover transitions */
}

.card:hover {
    transform: none !important; /* Prevents scaling on hover */
    box-shadow: none !important; /* Removes shadow change */
}


/* Accordion */
.accordion-button {
    background: var(--green2); /* Custom color */
    color: white;
    font-size: 15px;
    padding: 12px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border: none;
    transition: background 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.accordion-button:hover {
    background: var(--green2);
    color: white;
}

.accordion-button:not(.collapsed) {
    background: var(--green2);
    color: white;
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.125);
}

.accordion-button:focus {
    box-shadow: none; /* Removes default Bootstrap focus outline */
    outline: none;
}

.accordion-collapse {
    transition: height 0.3s ease-in-out; /* Smooth animation */
}

/* pagination */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a{
    color: var(--green1);
    border-radius: 10px;
    text-decoration: none;
    transition: background 0.3s ease-in-out;
    background-color: transparent;
    margin: 0 5px;
}

/* Customize the active page item */
.pagination .page-item.active .page-link {
    background-color: var(--green1); /* Custom color */
    color: white;
    font-weight: bold;
    border-radius: 8px; /* Optional: Rounded corners */
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2); 
}

.pagination .page-link:hover {
    background-color: var(--green2); 
    color: white;
}








