
/* breadCrumb */
.top{
    background: var(--mint);
}

.breadcrumb-item a {
    font-weight: bold;
    color: var(--brown); 
    font-size: 25px;
}
.breadcrumb-item a:hover {
    text-decoration: underline;
}
.breadcrumb-item.active {
    color: var(--green1);
    font-size: 20px;
    font-weight: semi-bold;
}

/* User Profile */
.profile-img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}
.nav-icons i {
    font-size: 20px;
    cursor: pointer;
    margin-right: 15px;
    color: var(--green1);
}
.user-info {
    display: flex;
    align-items: center;
}
.user-name {
    font-weight: bold;
    color: #2c3e50;
    margin-left: 10px;
}
.user-role {
    font-size: 12px;
    color: gray;
}

/* Divider */
.top-divider {
    border-top: 1px solid rgba(228, 241, 234, 0.5); /* mint at 50% opacity */
    width: 95%;
    background-color: transparent;
    margin: 0 auto;
}

/* Main Panel */

p.head {
    font-size: 25px !important;
  }

.header h3{
    color: var(--green1);
}

.header h6{
    color: var(--green1);
    font-size: 15px
}

/* Cards */
.card {
    background-color: var(--green1);
    border-radius: 20px!important;
    color: var(--brown);
    transition: background 0.25s ease;
    margin-bottom: 20px;
    border-radius: 20px!important;
}

.card .card-body {
    padding: 10px 20px;
    border: none !important;
}

.card.card-tale {
    background: #FFFFFF;
    color:var(--brown);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
    border: none ;
    border-radius: 20px!important;

}

.card.card-tale .head {
    font-weight: 1000;
    background: var(--gradient-green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card-body img{
    border: none !important;
    width: 70px;
    height: 30px;
}

.card-body .time{
    font-size: 13px;
    color: var(--brown);
    padding-top: 10px;
}

.card-body .title{
    font-size: 13px;
    color: var(--brown);
    padding-top: 10px;
}

.card-body .place{
    font-size: 13px;
    color: var(--brown);
}


/* button */
.btn-export-pdf {
    background: var(--gradient-brown);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 13px;
    display: flex;
    align-items: center;
    gap: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.btn-export-pdf:hover {
    background: linear-gradient(45deg, #c56659, #b05d4c);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
}

.content-wrapper {
    background: #E4F1EA;
    padding: 2.375rem;
    width: 100%;
}
